@import "../../../styles/_variables.scss";

.custom-select {
  width: 100%;

  .react-dropdown-select {
    border: none;
    box-shadow: none;
    &-option {
      align-items: center;
      background: #fff;
      color: $dark;
    }
    &-dropdown-handle {
      color: $primary;
    }
    &-option-remove {
      display: none !important;
    }
  }

  .search-and-toggle {
    display: flex;
    flex-direction: column;
    line-height: 20px;

    input {
      margin: 10px 10px 0;
      line-height: 30px;
      padding: 0 20px;
      border: 1px solid $primary;
      border-radius: 3px;
      :focus {
        outline: none;
        border: 1px solid $primary;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;

      & div {
        margin: 10px 0 0 10px;
        font-weight: 600;
      }

      .button {
        background: none;
        border: 1px solid $primary;
        color: #555;
        border-radius: 3px;
        margin: 10px 10px 0;
        padding: 3px 5px;
        font-size: 10px;
        text-transform: uppercase;
        cursor: pointer;
        outline: none;

        &.clear {
          color: tomato;
          border: 1px solid tomato;
        }

        :hover {
          border: 1px solid $primary;
          color: deepskyblue;
        }
      }
    }
  }

  .items {
    overflow: auto;
    min-height: 10px;
    max-height: 200px;
    line-height: 20px;


    .item {
      display: flex;
      margin: 10px;
      align-items: baseline;
      cursor: pointer;
      border-bottom: 1px dotted transparent;

      &-label {
        margin: 5px 10px;
      }
    }
  }
}