@import "../../../styles/variables";

.header {
  padding-top: 20px;
  line-height: 44px;
  display: flex;
  background-color: $lightDark;
  width: 100%;
  margin: 0 auto;

  .title {
    margin: 0 auto;
    font-family: $primaryFontFamily;
    font-size: 22px;
    color: $white;
    letter-spacing: -0.13px;
  }
  
  .control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    .svg {
      margin: 0 15px;
    }
    .packed {
      margin: 0 12px;
    }
  }

}
  
.small {
  padding-top: 30px;
}
