@import "../../../styles/variables";

.root {
  background-color: $white;
  height: 100%;

  .hero {
    width: 100%;
    padding-bottom: 66.7%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    @include sm {
      background-image: url('../../../assets/images/item_hero/image.png');
    }
    @include lg {
      background-image: url('../../../assets/images/item_hero/image@2x.png');
    }
    @include xl {
      background-image: url('../../../assets/images/item_hero/image@3x.png');
    }

    .mainInfo {
      position: absolute;
      bottom: 24px;
      padding: 0 15px;
      
      .title {
        font-family: $primaryFontFamily;
        font-size: 22px;
        letter-spacing: -0.15px;
        color: $white;
      }
      .rate {
        padding: 10px 0;
        display: flex;

        span {
          font-family: $secondaryFontFamily;
          font-size: 13px;
          letter-spacing: -0.07px;
          text-align: right;
          color: $white;
          padding: 0 4.1px;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    .tab {
      display: flex;
      flex-direction: row;
      width: 100%;
      line-height: 50px;
      span {
        cursor: pointer;
        width: 50%;
        font-family: "HelveticaNeue";
        font-size: $mainFont;
        color: $dark;
        text-align: center;
        &.active {
          border-bottom: solid 2px $primary;
        }
      }
    }
      
    .panel {
      padding: 33px 15px;
      .itemIcon {
        margin-right: 14px;
      }
      .item {
        display: flex;
        padding: 13px 0;
        font-family: $secondaryFontFamily;
        font-size: $mainFont;
        color: $dark;
        .downArrow {
          cursor: pointer;
          margin: 0 15px;
        }
      }
      .description {
        font-size: $mainFont;
        line-height: 1.47;
        color: #2b2b2b;
      }
    }
  }
}